@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clientes</h1>
    <p class="lead">¿Eres cliente?</p>
    <p><a>@Html.ActionLink("Login Clientes", "Index", "LoginC")</a></p>
</div>

<div class="jumbotron">
    <h1>Mecanicos</h1>
    <p class="lead">¿Eres mecanico?</p>
    <p><a> @Html.ActionLink("Login Mecanicos", "Index", "Login")</a></p>
</div>


